.header{
  padding: 20px 50px;
  background-color: rgb(124, 25, 230);
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
}

.header img{
  height: 30px;
  margin-right: 15px;
}
.imgPdiv{
  display: flex;
}

.headButton{
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(205, 102, 50);
  color: white;
  border-style: none;
}
.headButton:hover{
  cursor: pointer;
  border: 4px solid red;
}

